{
    "RootNamespace": "MobilityMatters",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=MobilityMatters_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=MobilityMatters_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employees",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SpecialNeeds",
                    "Identifier": "SpecialNeeds",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SpecialNeedsMultiple",
                    "Identifier": "SpecialNeedsMultiple",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TerritoryMultiple",
                    "Identifier": "TerritoryMultiple",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Cities",
                    "Identifier": "Cities",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CitiesMultiple",
                    "Identifier": "CitiesMultiple",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CitiesMulti",
                    "Identifier": "CitiesMulti",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SpecialNeedsMultipleVolunteer",
                    "Identifier": "SpecialNeedsMultipleVolunteer",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AvailabilityAM",
                    "Identifier": "AvailabilityAm",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AvailabilityAMMultiple",
                    "Identifier": "AvailabilityAmMultiple",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AvailabilityPM",
                    "Identifier": "AvailabilityPm",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AvailabilityPMMultiple",
                    "Identifier": "AvailabilityPmMultiple",
                    "Module": "Northwind",
                    "ConnectionKey": "Northwind",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\MobilityMatters\\MobilityMatters.Web\\MobilityMatters.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}