@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.AvailabilityPmMultiple.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MobilityMatters.Northwind.AvailabilityPmMultipleGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>